{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}
<div class="align-self-center ml-5 col-7 my-5">
    <div class="center card">
        <div class="card-body">
             <h5 class="card-header">Sistema RR</h5>
 <form class="form-signin" method="post">
     {% csrf_token %}
      <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal"></h1>
     <div class="ml-5 mb-2"> 
     <label for="Username" class="sr-only">Email address</label>
      <input type="email" name="username" id="Username" class="form-control" placeholder="Usuario / Email" required autofocus>
      </div>
      <div class="row col"> 
         <label for="Password" class="sr-only">Password</label>
      <input type="password" name="password" id="Password" class="form-control" placeholder="Password" required>
             </div>
     <div class="row col-5">
         <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
     </div>
      
 </form>
</div>
</div>
    </div>

{% endblock %}