{% load static %}
{% block menu %}
<nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <!-- sidebar-brand  -->
                <div class="sidebar-item sidebar-brand">
                    <a href="{% url 'home' %}">SISTEMA RR</a>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-item sidebar-header d-flex flex-nowrap">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="{{ usuario.perfil.thumb.url }}" alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">{{ usuario.first_name }}
                        </span>
                        <span class="user-role">
                            {{ usuario.idempresa.nomeempresa }}
                        </span>
                        <span class="user-status">
                              {{ usuario.idfilial.nomefilial }}
                        </span>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <!-- sidebar-menu  -->
                <div class=" sidebar-item sidebar-menu">
                    
                    <ul>
                        {% if DASHBOARD %}
                        <li class="header-menu">
                            <span>Avaliação de Unidades</span>
                        </li>
                        

                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-tachometer-alt"></i>
                                <span class="menu-text">Dashboard</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">DashBoard
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Dashboard 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Dashboard 3</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                      
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="menu-text">E-commerce</span>
                                <span class="badge badge-pill badge-danger">3</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Products

                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Orders</a>
                                    </li>
                                    <li>
                                        <a href="#">Credit cart</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        
                   
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-chart-line"></i>
                                <span class="menu-text">Charts</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Pie chart</a>
                                    </li>
                                    <li>
                                        <a href="#">Line chart</a>
                                    </li>
                                    <li>
                                        <a href="#">Bar chart</a>
                                    </li>
                                    <li>
                                        <a href="#">Histogram</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-newspaper"></i>
                                <span class="menu-text">Cadastro</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/av-cadastro/notafilial/list.html">Notas da Filial</a>
                                    </li>
                                    <li>
                                        <a href="/av-cadastro/painelgeral/list.html">Painel Geral</a>
                                    </li>
                                     <li>
                                        <a href="/av-cadastro/indicadores/list.html">Indicadores</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                          {% endif%}
                        {% if CUSTOS %}
                        <li class="header-menu">
                            <span>Custos</span>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-book"></i>
                                <span class="menu-text">Documentation</span>
                                <span class="badge badge-pill badge-primary">Beta</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                <span class="menu-text">Calendar</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-folder"></i>
                                <span class="menu-text">Examples</span>
                            </a>
                        </li>
                    </ul>
                     {% endif%}
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-footer  -->
            <div class="sidebar-footer">
           
                <div class="dropdown">
               
                </div>
             
                <div>
        
                    <a href="/logout">
                         <i class="fa fa-power-off"> Logout</i>
                    </a>
             
                </div>
                <div class="pinned-footer">
                    <a href="#">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>
                </div>
            </div>
        </nav>

{% endblock %}